<label class="ui-field" [for]="inputId">
  <span class="ui-field__label">
    {{ label }}
    @if (required) {
      <span class="ui-field__required" aria-hidden="true">*</span>
    }
  </span>
  <input
    class="ui-field__control"
    type="text"
    [id]="inputId"
    [name]="name"
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="isDisabled"
    [readOnly]="readonly"
    [value]="value"
    [attr.aria-invalid]="hasError ? 'true' : null"
    [attr.aria-describedby]="describedBy"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
  />
  @if (helpText) {
    <span class="ui-field__help" [id]="helpId">{{ helpText }}</span>
  }
  @if (errorText) {
    <span class="ui-field__error" [id]="errorId">{{ errorText }}</span>
  }
</label>
